<!DOCTYPE html>
<html>
<head>
  <title>Freshers IITR 2015</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div id="aaa">
	<a href="https://www.facebook.com/aayush.me.iitr"><%= image_tag("aaa.png") %></a>
</div>
</body>
</html>
